-# _header-topと繋がる

.picture1__scroll
  .picture1__scroll__scroll1
    .div1 スマホでかんたん
    .div2 フリマアプリ
    .div3 Fmarketはスマホカメラからすぐ出品できる
    .div4 購入時も安心な独自システムのアプリです
    .div5
      .div5__class1
        = image_tag("app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: "apple")
      .div5__class2
        = image_tag("google-play-495575abb895b405aa6336b2a4304958.svg", class: "google")
  .picture1__scroll__scroll2
.picture1__body
  .picture1__body__middle
      

.major-choice
  %h1 人気のカテゴリー

.major-category
  .major__women
    レディース
  .major__men
    メンズ
  .major__home
    家電・スマホ・カメラ
  .major__hobby
    おもちゃ・ホビー・グッズ